* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 2rem;
  border-radius: 1rem;
  background-color: cadetblue;
  box-shadow: 0 0 10px cadetblue;
  color: #fff;
}

select {
  margin: 1rem 0;
}
